x-python-service:
  &x-python-service
  user: "1000:1000"
  depends_on:
    redis:
      condition: service_healthy
    postgres-test:
      condition: service_started
  networks:
    - internal


services:
  test:
    <<: *x-python-service
    build:
      context: .
      dockerfile: ./config/docker/Dockerfile.test-executor
    image: access-tests
    env_file:
      - ./config/env_template/.core.env.test
      - ./config/env_template/.community-manager.env
    container_name: "access-tests"
    volumes:
      - ./backend:/app

  redis:
    image: "redis:7.2.4-alpine"
    ports:
      - "6380:6379"
    volumes:
      - volume-queue:/data
    container_name: "access-redis"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 5
    networks:
      - internal

  postgres-test:
    image: "postgres:17.5"
    ports:
      - "5442:5432"
    environment:
      - POSTGRES_USER=${SQL_USER}
      - POSTGRES_PASSWORD=${SQL_PASSWORD}
      - POSTGRES_DB=${SQL_DATABASE}
    container_name: "access-postgres-test"
    networks:
      - internal


volumes:
  volume-queue:


networks:
  internal:
