.droppableGroup {
  transition: all 0.2s ease;
  width: 100%;
  margin-top: 24px;
  min-height: 60px !important;
  z-index: 10;

  &.isOver {
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
  }
}
