.group {
  background-color: var(--color-backgroundTertiary);

  border-radius: var(--border-radius-3xl);

  [data-group-item] {
    &:first-child {
      border-radius: var(--border-radius-3xl) var(--border-radius-3xl) 0 0;
    }

    &:last-child {
      border-radius: 0 0 var(--border-radius-3xl) var(--border-radius-3xl);
    }

    [data-group-item-border-bottom] {
      opacity: 1;
    }

    &:last-child {
      [data-group-item-border-bottom] {
        opacity: 0;
      }
    }
  }
}

.groupOnlyOneChild {
  [data-group-item] {
    border-radius: var(--border-radius-3xl) !important;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
  user-select: none;
}

.headerText {
  margin-left: 16px;
}

.action {
  margin-right: 16px;
  cursor: pointer;
  user-select: none;
}

.footer {
  user-select: none;
  margin: 6px 0 0 16px;
}
