* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root,
#app-tg-root {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
  font-family: var(--tgui--font-family);
}
