@use 'variables' as *;

html[data-theme='light'] {
  --color-backgroundSecondary: #{$palette-white100};
  --color-backgroundTertiary: #{$palette-white100};
  --color-backgroundPrimary: #{$palette-dark4};
  --color-textIconsPrimary: #{$palette-dark100};
  --color-textIconsSecondary: #{$palette-transparentDark75};
  --color-textIconsTertiary: #{$palette-transparentDark50};
  --color-textIconsFourth: #{$palette-transparentDark30};
  --color-textIconsFifth: #{$palette-transparentDark12};
  --color-textIconsBlack: #{$palette-dark100};
  --color-textIconsWhite: #{$palette-white100};
  --color-fill5: #{$palette-transparentDark5};
  --color-fill8: #{$palette-transparentDark8};
  --color-fill12: #{$palette-transparentDark12};
  --color-fill30: #{$palette-transparentDark30};
  --color-fill40: #{$palette-transparentDark40};
  --color-fill60: #{$palette-transparentDark60};
  --color-appliedOverlay: #{$palette-transparentDark40};
  --color-appliedHover: #{$palette-transparentDark5};
  --color-appliedStroke: #{$palette-transparentDark12};
  --color-appliedSeparator: #{$palette-transparentDark8};
  --color-backgroundSecondaryBtn: #{$palette-transparentDark5};
  --color-backgroundTooltip: #{$palette-dark80};
  --color-darkBgTooltip: #{$palette-grey50};
  --color-appliedLink: #{$palette-brandLight};
  --color-appliedVideoFade: #{$palette-grey50};
  --color-accentsBrandCommunity: #{$palette-brandCommunity};
  --color-accentsBrandTonstarter: #{$palette-brandAccent};
  --color-accentsRed: #{$palette-extraRed};
  --color-accentsBgNegative: #{$palette-extraRed10};
  --color-accentsBgPink: #{$palette-extraEmojiPinkLight};
  --color-accentsBgGrey: #{$palette-extraEmojiGreyLight};
  --color-accentsBgOrange: #{$palette-extraEmojiWarmLight};
  --color-accentsBgGreen: #{$palette-extraEmojiGreenLight};
  --color-accentsBgBlue: #{$palette-extraEmojiBlueLight};
  --color-appliedActive: #{$palette-transparentDark5};
  --color-appliedStrokeSecondary: #{$palette-transparent15};
  --color-appliedLinkHover: #{$palette-brandAccent};
  --color-accentsBrandExplore: #{$palette-white100};
  --color-accentsBrandBg: #{$palette-brandLightBg};
  --color-accentsBw: #{$palette-dark100};
  --color-accentsGreen: #{$palette-extraGreenDark};
  --color-backgroundBlack: #{$palette-dark100};
  --color-backgroundWhite: #{$palette-white100};
  --color-input: #{$palette-transparentWhite80};
  --color-stroke: #{$stroke-white};

  --elevation-1: #{$elevation-light-1};
}

html[data-theme='dark'] {
  --color-backgroundSecondary: #{$palette-dark90};
  --color-backgroundTertiary: #{$palette-dark85};
  --color-backgroundPrimary: #{$palette-dark96};
  --color-textIconsPrimary: #{$palette-white100};
  --color-textIconsSecondary: #{$palette-transparentWhite75};
  --color-textIconsTertiary: #{$palette-transparentWhite50};
  --color-textIconsFourth: #{$palette-transparentWhite30};
  --color-textIconsFifth: #{$palette-transparentWhite12};
  --color-textIconsBlack: #{$palette-dark100};
  --color-textIconsWhite: #{$palette-white100};
  --color-fill5: #{$palette-transparentWhite5};
  --color-fill8: #{$palette-transparentWhite8};
  --color-fill12: #{$palette-transparentWhite12};
  --color-fill30: #{$palette-transparentWhite30};
  --color-fill40: #{$palette-transparentWhite40};
  --color-fill60: #{$palette-transparentWhite60};
  --color-appliedOverlay: #{$palette-transparentDark75};
  --color-appliedHover: #{$palette-transparentWhite5};
  --color-appliedStroke: #{$palette-transparentWhite12};
  --color-appliedSeparator: #{$palette-transparentWhite8};
  --color-backgroundSecondaryBtn: #{$palette-transparentWhite5};
  --color-backgroundTooltip: #{$palette-dark80};
  --color-darkBgTooltip: #{$palette-grey50};
  --color-appliedLink: #{$palette-brandAccent};
  --color-appliedVideoFade: #{$palette-grey50};
  --color-accentsBrandCommunity: #{$palette-brandCommunity};
  --color-accentsBrandTonstarter: #{$palette-brandAccent};
  --color-accentsRed: #{$palette-extraRed};
  --color-accentsBgNegative: #{$palette-extraRed15};
  --color-accentsBgPink: #{$palette-extraEmojiPinkLight};
  --color-accentsBgGrey: #{$palette-extraEmojiGreyLight};
  --color-accentsBgOrange: #{$palette-extraEmojiWarmLight};
  --color-accentsBgGreen: #{$palette-extraEmojiGreenLight};
  --color-accentsBgBlue: #{$palette-extraEmojiBlueLight};
  --color-appliedActive: #{$palette-transparentWhite8};
  --color-appliedStrokeSecondary: #{$palette-transparentWhite0};
  --color-appliedLinkHover: #{$palette-brandLight};
  --color-accentsBrandExplore: #{$palette-white100};
  --color-accentsBrandBg: #{$palette-brandDarkBg};
  --color-accentsBw: #{$palette-white100};
  --color-accentsGreen: #{$palette-extraGreenLight};
  --color-backgroundBlack: #{$palette-dark100};
  --color-backgroundWhite: #{$palette-white100};
  --color-input: #{$palette-transparentDark80};
  --color-stroke: #{$stroke-black};

  --elevation-1: #{$elevation-dark-1};
}
