.selectWrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
}

.appSelect {
  appearance: none;
  background: transparent;
  border: none;
  outline: none;
  color: var(--color-accentsBrandCommunity);
  font-size: 17px;
  cursor: pointer;
  width: 100%;

  &:hover {
    opacity: 0.8;
  }

  option {
    color: var(--color-accentsBrandCommunity);
    background: transparent;
    text-align: right;
  }
}

.icon {
  color: var(--color-accentsBrandCommunity);
}
