.draggableCondition {
  cursor: grab;
  transition: all 0.2s ease;

  > div {
    border-radius: 0;
  }

  &:active {
    cursor: grabbing;
  }
}

.dragging {
  opacity: 0.5;
}

.noPointerEvents {
  pointer-events: none;
}
