.draggableCondition {
  cursor: grab;
  transition: all 0.2s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;

  > div {
    border-radius: 0;
  }

  &:active {
    cursor: grabbing;
  }
}

.dragging {
  opacity: 0.5;
}

.noPointerEvents {
  pointer-events: none;
}
