@use './variables.scss' as *;
@use './themes.scss' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family:
    -apple-system, 'SF Pro Text', 'SF UI Text', system-ui, 'Helvetica Neue',
    Helvetica, Arial, sans-serif;

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  color: var(--color-foreground-primary);
  background-color: var(--color-background-secondary);
  overflow-x: hidden;
}

// Скрытие скроллбара для всех элементов
* {
  // Firefox
  scrollbar-width: none;
  // IE и Edge
  -ms-overflow-style: none;
}

// Chrome, Safari, Edge
*::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

*::-webkit-scrollbar-track {
  display: none !important;
}

*::-webkit-scrollbar-thumb {
  display: none !important;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none !important;
  }
}
