name: BE lint & test

on:
  push:
    paths:
      - 'backend/**'
      - '.github/workflows/**'

jobs:
  lint:
    uses: ./.github/workflows/lint-python.yml

  test:
    needs:
      - lint
    uses: ./.github/workflows/test-python.yml
